In [1]:
import pandas as pd
import sqlite3 as db
import datetime

In [13]:
con = db.connect('scrape_db.db')

In [14]:
df = pd.read_sql("SELECT * FROM scrape", con)
df.to_csv("raw_early_voting.csv")

In [15]:
df['date-time'] = df['timestamp'].map(lambda x: datetime.datetime.fromtimestamp(x))

In [16]:
df.head()

,index,Location Name,Address,City,Zip Code,Wait Time(Mins),Map,timestamp
0,0,WHEATON REC CENTER,11701 Georgia Ave,Wheaton,20902,0.0,Map link,2020-10-26 13:27:12.373124
1,1,DAMASCUS REC CENTER,25520 Oak Dr,Damascus,20872,10.0,Map link,2020-10-26 13:27:12.373124
2,2,POTOMAC REC CENTER,11315 Falls Rd,Potomac,20854,10.0,Map link,2020-10-26 13:27:12.373124
3,3,SILVER SPRING CIVIC BUILDING,1 Veterans Pl,Silver Spring,20910,10.0,Map link,2020-10-26 13:27:12.373124
4,4,GERMANTOWN RECREATION CENTER,18905 Kingsview Rd,Germantown,20874,16.0,Map link,2020-10-26 13:27:12.373124

In [17]:
df.describe(include= 'all')

,index,Location Name,Address,City,Zip Code,Wait Time(Mins),Map,timestamp
count,23738.000000,23738,23738,23738,23738.000000,23298.000000,23738,23738
unique,NaN,11,11,10,NaN,NaN,1,2158
top,NaN,DAMASCUS REC CENTER,25520 Oak Dr,Silver Spring,NaN,NaN,Map link,2020-11-02 01:30:11.282926
freq,NaN,2158,2158,4316,NaN,NaN,23738,11
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-26 13:27:12.373124
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-02 23:55:54.088475
mean,5.000000,NaN,NaN,NaN,20871.454545,14.757747,NaN,NaN
std,3.162344,NaN,NaN,NaN,26.565621,75.878486,NaN,NaN
min,0.000000,NaN,NaN,NaN,20815.000000,0.000000,NaN,NaN
25%,2.000000,NaN,NaN,NaN,20854.000000,5.000000,NaN,NaN
50%,5.000000,NaN,NaN,NaN,20872.000000,5.000000,NaN,NaN
75%,8.000000,NaN,NaN,NaN,20902.000000,6.000000,NaN,NaN
max,10.000000,NaN,NaN,NaN,20910.000000,999.000000,NaN,NaN

In [20]:
 df = df.dropna(axis = 0)

In [21]:
df.describe(include='all')

,index,Location Name,Address,City,Zip Code,Wait Time(Mins),Map,timestamp
count,23298.000000,23298,23298,23298,23298.000000,23298.000000,23298,23298
unique,NaN,11,11,10,NaN,NaN,1,2118
top,NaN,DAMASCUS REC CENTER,25520 Oak Dr,Silver Spring,NaN,NaN,Map link,2020-11-02 01:30:11.282926
freq,NaN,2118,2118,4236,NaN,NaN,23298,11
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-26 13:27:12.373124
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-02 20:35:47.535958
mean,5.000000,NaN,NaN,NaN,20871.454545,14.757747,NaN,NaN
std,3.162346,NaN,NaN,NaN,26.565631,75.878486,NaN,NaN
min,0.000000,NaN,NaN,NaN,20815.000000,0.000000,NaN,NaN
25%,2.000000,NaN,NaN,NaN,20854.000000,5.000000,NaN,NaN
50%,5.000000,NaN,NaN,NaN,20872.000000,5.000000,NaN,NaN
75%,8.000000,NaN,NaN,NaN,20902.000000,6.000000,NaN,NaN
max,10.000000,NaN,NaN,NaN,20910.000000,999.000000,NaN,NaN

In [6]:
df.to_csv("cleaned_early_voting.csv")